@import 'tailwindcss';

@theme {
  --font-heading: 'Montserrat', sans-serif;
  --font-body: 'Open Sans', sans-serif;
  --color-primary: #fff;
  --color-secondary: #f9f9f9;
  --color-tertiary: #000;
  --color-quaternary: #fca44b;
}

@layer base {
  p,
  span,
  a {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-heading);
  }
}
